<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <meta charset="utf-8">
        <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
      
            <title>LabTest S55017</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="css/bootstrap.min.css">
    
         <!-- Custom styles for this template -->
         <link href="css/navbar-fixed-top.css" rel="stylesheet">
         <style>
             body{
                 background-color: rgb(206, 209, 248);
             }
         </style>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top" style="background-color: rgb(32, 91, 158);">
        <div class="container">
            <div class="navbar-header"> 
               <a class="navbar-brand" href="#" style="color: yellow;">SpecialCall</a>
            </div>
        </div>
        </nav>
        <div class="container">
        <div class="container col-md-5">
            <button class="btn btn-block btn-info" ng-click="callNumber(0193183994)">Call Father</button> 
            <button class="btn btn-block btn-default" ng-click="callNumber(0193183994)">Call Mother</button>
        </div> 
        </div>
      
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/signals.min.js"></script>
        <script src="js/hasher.min.js"></script>
        <script src="js/crossroads.min.js"></script>
        <script src="js/bootbox.min.js"></script>
        <script src="js/index.js"></script>
    </body>
</html>
